.menu__option {
    display: block;
    background-color: var(--color_dark);
    border-radius: 4px;
    color: var(--color_text-main);
    font-size: 20px;
    padding: 10px;
    cursor: pointer;
    text-decoration: none;
    border: none;
}

.menu__option:hover {
    background-color: var(--color_accent);
}

.menu__option:active {
    background-color: var(--color_accent_focus);
}